<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="LdapMembershipProvider">
      <providers>
        <clear />
        <add name="LdapMembershipProvider"
             type="App.Providers.LdapMembershipProvider, App.Providers"
             ldapServer="localhost"
             ldapPort="1234"
             adminUser="bfrancis"
             adminPassword="holystone"
             domain="example.com"
             />
      </providers>
    </membership>
  </system.web>
</configuration>